@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
body
{
	font-family: 'OpenSans', sans-serif;
	background-image: url("../img/bg4.png");
	//background-image: url("../img/bg.jpg");
	//background-repeat:no-repeat;
}
#content
{
	position:absolute;
	top:50px;
	left:50%;
	width:600px;
	margin-left:-300px;
	background-color:rgba(255, 255, 255, .9);
	-webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #888888;
}
#header
{
	width:100%;
	height:30px;
	background-color: rgba(255, 255, 255, .8);
	-webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 100;
    padding-top:10px;
}
#header span
{
	padding-left:30px;
	font-weight:bold;
}
#form
{
	top: 40px;
	width:100%;
	padding-left:20px;
	padding-top:30px;
}
#form .input 
{
	width:90%;
	left:5%;
}
#frontText
{
	font-family: 'OpenSans',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding-left:30px;
    padding-right:30px;
}
input[type="text"]
{
	left:20px;
	width:560px;
	height:30px;
	font-family: 'OpenSans',sans-serif;
	font-size:22px;
	text-align: center;
}
input[type="submit"]
{
	width:100px;
	height:24px;
	font-family: 'OpenSans',sans-serif;
	text-align: center;
	float:right;
	margin-right:50px;
}
.success
{
	left:50px;
	right:50px;
	background-color: #98FF8B;
	-webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top:10px;
    margin-bottom: 10px;
}
.error
{
	left:50px;
	right:50px;
	background-color: #FF4949;
	-webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top:10px;
    margin-bottom: 10px;
}
